<html>
  <head>
    <link rel="icon" href="data:,">
    <title>Face expression recognition</title>
    <style>
      #bg {
        width: 1200px;
        height: 900px;
        background-color: #666;
      }
      </style>
  </head>
  <body>
    
        <img  id="bg" src="{{ url_for('video_feed') }}">
  
    
  </body>

  <script>
   var img = document.querySelector("#bg");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ img : true })
    .then(function (stream) {
      img.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
    }
   </script>

</html>
