<html>
  <head>
    <link rel="icon" href="data:,">
    <title>Face expression recognition</title>
    <style>
      #videoElement {
        width: 500px;
        height: 375px;
        background-color: #666;
      }
      </style>
  </head>
  <body>
    <div>
      <img id="bg" width=1200px height=900px src="{{ url_for('video_feed') }}">
      <video autoplay="true" id="videoElement">
      </video>
    </div>
    
  </body>

  <script>
    var video = document.querySelector("#videoElement");

    if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
} 
  </script>

</html>
